@import "../../assets/styles/vars.scss";

.body {
    background-color: $white;
    border-radius: 10px;
    overflow: hidden;
}
.header {
    margin-bottom: 13px;
    background-color: $white;
    padding: 15px;
    border-bottom: 1px solid $grey;
}
.headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 15px;
}
.tabs {
    display: flex;
    align-items: center;
    gap: 5px;
}
.tabButton {
    padding: 10px;
    font-size: 15px;
    color: $darkgrey;
    border-radius: 10px;
    transition: color 0.15s ease, background-color 0.15s ease;
    &.active {
        color: $white;
        background-color: $darkblue;
    }
}
.findButton {
    font-size: 13px;
    height: 30px;
    padding: 0.375rem 0.7rem;
    margin-left: auto;
}
